.header {
    height: 480px;
    background: linear-gradient(180deg, #9D0E0E00, #4F0707), url(../../assets/shutterstock_348320018.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}

.home_content {
    text-align: center;
    margin-top: 3.5rem;
}

.user_details {
    text-align: end;
}

.home_content p {
    color: #ffff;
    font-size: 36px;
    margin: 1rem 0;
}

.home_content h2 {
    font-size: 70px;
    color: #EB2929;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    padding: 0 1.3rem;
}

.account {
    border: 1px solid #fff;
    color: #fff;
    padding: .4rem 1rem;
    display: inline-block;
    margin-left: .5rem;
    text-align: end;
}

.login {
    display: inline-block;
    color: #fff;
    text-align: end;
}

.search_content {
    text-align: center;
    padding: 1rem;
}

input {
    padding: .7rem 1rem;
    margin-right: .7rem;
}

.restaurantInput {
    width: 25rem;
}

.restaurantForm {
    position: relative;
}

.data {
    background: #fff;
    position: absolute;
    left: 41.8%;
    width: 25rem;
    top: 110%;
    text-align: left;
}

.loc_Data {
    position: absolute;
    background-color: #fff;
    width: 195px;
    left: 25.4%;
    top: 110%;
    height: 13rem;
    border: .5px solid #aaa;
    overflow-y: auto;
}

.loc_Data::-webkit-scrollbar {
    width: 0;
}

.loc_Data p {
    border-bottom: .5px solid #aaa;
    padding: .2rem;
    font-size: .8rem;
}

.fullData {
    border-bottom: 1px solid #618bda9f;
    padding: .7rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #fff;
    width: 25rem;
    left: 20rem;
}

.fullData img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.fullData h3 {
    color: #192F60;
    font-weight: 600;
}

.fullData p {
    font-weight: 400;
    color: #636F88;
}


/*  meal css */

@media screen and (max-width:462px) {
    .home_content h2 {
        font-size: 5rem;
    }

    .home_content p {
        font-size: 3rem;
    }

    .restaurantForm .locationInput,
    .restaurantForm .restaurantInput {
        width: 90%;
        margin: .5rem 0;
        padding: 1rem;
    }

    .restaurantForm .loc_Data {
        left: 5.15%;
        width: 90%;
        top: 50%;
    }

    .data {
        left: 5.15%;
        width: 90%;
        top: 101%;
    }

    .restaurantForm .loc_Data p {
        font-size: 1.2rem;
    }

    .fullData {
        width: 100%;
    }

    .fullData img {
        width: 5rem;
        height: 5rem;
    }

    .user_details .login {
        font-size: 1.5rem;
    }

    .user_details .account {
        font-size: 1.3rem;
    }

}

@media screen and (max-width:700px) {
    .home_content h2 {
        font-size: 6rem;
    }

    .home_content p {
        font-size: 4rem;
    }

    .user_details .login {
        font-size: 1.5rem;
    }

    .user_details .account {
        font-size: 1.5rem;
    }
}